@font-face {
    font-family: pixel;
    src: url('Pixeled.ttf')
}

@font-face {
    font-family: upheaval;
    src: url('upheavtt.ttf');
}

body {
/*    background-image: url('background2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin: 0;
    padding: 0; */
    background-color: whitesmoke;
}

.heroimg {
    background-image: url('pokemon-gym.png');
    background-position: top center;
    height: 400px;
    width: 1000px;
    margin: 1em auto;
}

.content {
    background-color: whitesmoke;
    max-width: 1100px;
    margin: 0 auto;
}

 h1:first-of-type {
    color: black;
    margin-top: 0; 
    padding-top: 1em;
}


h1 {
    font-family: upheaval;
    font-size: 60px;
    max-width: 900px;
    margin: 1em auto;
    text-align: center;
}

h2 {
    font-family: upheaval;
    font-size: 40px;
    max-width: 900px;
    margin: 1em auto;
}

p {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    max-width: 900px;
    margin: 1em auto;
}

p:last-of-type {
    padding-bottom: 3em;
}

ol {
    font-family: sans-serif;
    line-height: 1.5em;
    max-width: 800px;
    margin: 1em auto;
}

.battle {
    max-width: 800px;
    line-height: 2em;
}

.orange {
    background-color: orangered;
    color: white;
    height: 1.25em;
    width: auto;
    padding: 4px;
    border-radius: 20%;
    border: solid 1px red;
}

.blue {
    background-color: dodgerblue;
    color: white;
    height: 1.25em;
    width: auto;
    padding: 4px;
    border-radius: 20%;
    border: solid 1px blue;
}

.green {
    background-color: seagreen;
    color: white;
    height: 1.25em;
    width: auto;
    padding: 4px;
    border-radius: 20%;
    border: solid 1px green;
}

.centerimg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 1em auto;
    padding: 1em auto;
}

.centerimg img {
    padding: .5em;
}

.note {
    background-color: grey;
    max-width: 800px;
    height: 50px;
    margin: 1em auto;
}